.dropDownContainer {
  label {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
  }

  .dropdown {
    display: flex;
    padding: 10px 12px;
    border: 1px solid var(--gray-3, #d5d8dd);
    background: var(--unnamed, #fff);
    border-radius: 8px;
    cursor: pointer;

    .selectWrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 23px;
    }

    .placeholder {
      color: #b6b6b6;
    }

    .selected {
      color: black;
    }
  }

  .options {
    width: 100%;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid var(--gray-3, #d5d8dd);
    background: var(--unnamed, #fff);
    z-index: 10;
    max-height: 300px;
    overflow-y: auto;

    .option {
      padding: 8px;
      margin: 8px;
      font-size: 16px;
      font-weight: 500;
      line-height: 23px;
      cursor: pointer;

      &:hover {
        border-radius: 4px;
        background-color: #f4f4f4;
      }

      &.active {
        border-radius: 4px;
        background: #e7e7e7;
      }
    }
  }
}
