.shipmentReportManagementContainer {
  margin: 0 auto;

  .label {
    margin: 50px 0;
    color: #040404;
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
  }
}

.shipmentManagementDetailContainer {
  padding: 39px 41px;
  border-radius: 13px;
  background: #fcfcfc;

  .formSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .labelWrapper {
    display: flex;
    align-items: center;
    gap: 7px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #039b72;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      border: 1px solid #7fbbab;
      background: #d9e8e1;
    }

    label {
      color: var(--333, #333);
      font-size: 18px;

      font-weight: 700;
      line-height: 23px;
    }
  }

  .bar {
    height: 1px;
    background-color: #dcdcdc;
    margin: 37px 0;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 48px;
  }
}

.shipmentReportDetailWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
