.commonHeaderContainer {
  height: 51px;
  background-color: #faf8f4;
  display: flex;
  align-items: center;
  padding: 0 22px;
}

.headerContainer {
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
