.areaReportContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.appropriateCultivationAreaWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 26px;

  label {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }
  .cultivationRateInfoWrapper {
    padding: 16px 86px;
    align-self: stretch;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 21px;
    border-radius: var(--Number-2, 9px);
    background: #fff;
    min-height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      font-size: 16px;
      font-weight: 800;
      line-height: 21px;
    }

    .highlight {
      color: #eb3f27;
    }
  }

  .halfDoughnutChartWrapper {
    position: relative;
    display: flex;
    justify-content: center;

    .approveArea,
    .ratioWrapper,
    .approciateArea {
      position: absolute;
      color: var(--gray4, #808184);
      font-size: 12px;
      font-weight: 700;
      line-height: 16.56px;
    }

    .approveArea {
      left: 13%;
      bottom: -5px;
    }

    .ratioWrapper {
      width: 84px;
      left: 40%;
      right: 50%;
      bottom: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;

      .ratio {
        font-size: 32px;
        font-weight: 600;
        line-height: 18px;
      }

      .recommend {
        min-width: 68px;
        text-align: center;
        padding: 8px;
        border-radius: 15px;
        color: #efefef;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
      }
    }

    .approciateArea {
      right: 10%;
      bottom: -5px;
    }
  }

  .expectedPriceWrapper {
    display: flex;
    align-items: center;
    gap: 19px;
    border-radius: var(--Number-2, 6px);
    background: #fff;
    padding: 9px;

    label {
      border-radius: 5px;
      background: var(--main2, #00b0d7);
      padding: 8px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: 800;
      line-height: 21px;
    }

    span {
      font-size: 20px;
      font-weight: 800;
      line-height: 21px;
    }
    .unit {
      font-size: 12.381px;
      font-weight: 600;
      line-height: 13px;
    }
  }
}

.bar {
  height: 9px;
  background: #e4e4e4;
}

.postCultivationAreaInfoContainer {
  padding: 0 26px;
  .postCultivationAreaInfoWrapper {
    background: linear-gradient(84deg, #00aed2 47.25%, #00ac7e 91.86%);
    padding: 22px 19px;
    border-radius: 10px;
  }
  .labelWrapper {
    display: flex;
    flex-direction: column;

    label {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
    }
    div {
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .linkWrapper {
    display: flex;
    justify-content: flex-end;

    a {
      color: #efefef;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: -0.078px;
      padding: 8px 6px;
      border-radius: 7px;
      background: var(--main_deep, #004b37);
      border: none;
    }
  }
}

.postReportWrapper {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.infoFormContainer {
  display: flex;
  flex-direction: column;
  gap: 38px;

  .formSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .labelWrapper {
    display: flex;
    align-items: center;
    gap: 7px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #039b72;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      border: 1px solid #7fbbab;
      background: #d9e8e1;
    }

    label {
      color: var(--333, #333);
      font-size: 18px;

      font-weight: 700;
      line-height: 23px;
    }
  }
  .cultivatedArea {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .explain {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: var(--gray1, #cbcccc);
      color: var(--gray7, #474b54);
      font-size: 16px;
      font-weight: 500;
      line-height: 17.588px; /* 109.926% */
    }
  }

  .bar {
    height: 1px;
    background-color: #dcdcdc;
  }
}

.completeContainer {
  display: flex;
  flex-direction: column;
  margin-top: 82px;
  gap: 40px;
  // padding: 0 26px;
}
