.detailHeaderWrapper {
  display: flex;
  gap: 48px;
  margin-top: 30px;

  button {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    img {
      cursor: pointer;
    }
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .idWrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      color: var(--gray7, #474b54);
      .id {
        font-size: 28px;
        font-weight: 700;
        line-height: 24px;
      }

      label {
        border-radius: 15px;
        background: var(--gray1, #cbcccc);
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;
        padding: 3px 10px;
      }
    }

    .createdAt {
      color: var(--gray4, #808184);
      font-size: 18px;
      font-weight: 500;
    }
  }
}
