.shipmentReportContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 46px;
}
.explainWrapper {
  color: #5e5e5e;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.postShipmentWrapper {
  background: linear-gradient(94deg, #126a99 7.3%, #43ad85 109.19%);
  padding: 22px 19px;
  border-radius: 10px;

  .labelWrapper {
    display: flex;
    flex-direction: column;

    label {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }
    div {
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .linkWrapper {
    display: flex;
    justify-content: flex-end;

    a {
      color: #efefef;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: -0.078px;
      padding: 8px 6px;
      border-radius: 7px;
      background: var(--main_deep, #004b37);
      border: none;
    }
  }
}

.postReportWrapper {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.infoFormContainer {
  display: flex;
  flex-direction: column;
  gap: 38px;

  .formSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .labelWrapper {
    display: flex;
    align-items: center;
    gap: 7px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #039b72;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      border: 1px solid #7fbbab;
      background: #d9e8e1;
    }

    label {
      color: var(--333, #333);
      font-size: 18px;

      font-weight: 700;
      line-height: 23px;
    }
  }
  .bar {
    height: 1px;
    background-color: #dcdcdc;
  }
}

.completeContainer {
  display: flex;
  flex-direction: column;
  margin-top: 82px;
  gap: 40px;
}
